@font-face
{
    font-family: 'Josefin Sans', sans-serif;
    src: url(Giorgio.ttf);
}

html, body
{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: 'Josefin Sans', sans-serif;

}

button {
    font-family: 'Josefin Sans', sans-serif;

}

.home_button
{
    height: 50vh;
    width: 100%;
    font-size: 4em;
    box-shadow: none;
    border: none;
    position: absolute;
}

#add
{
    background-color: #4AE;
}

#retrieve
{
    background-color: #AED;
    top: 50vh;
}


#adder {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: -100vh;
    background-color: #4AE;
    text-align: center;
}

#adder-done { 
    width: 100%;
    height: 30vh;
    background-color: #4FA;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
}

#toblur {
    height: 90vh;
}

#retriever {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 100vh;
    background-color: #AED;
    text-align: center;
}

#loading
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 10px solid #fff; /* Light grey */
    border-top: 10px solid #ccc; /* Blue */
    border-right: 10px solid #ccc; /* Blue */
    border-left: 10px solid #ccc; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    opacity: 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

